* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:'Times New Roman', Times, serif;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    width: 100%;
    overflow-y: hidden;
    background-image: url('../images/anh.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    margin: 0; 
    background-color: rgba(0, 0, 0, 0.3);
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.5));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: white;
    font-weight: 800;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
}

nav a.active {
    text-decoration: underline;
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
}

.home-content {
    flex: 1;
}

.home-blank {
    flex: 1;
}

.home .home-content h1{
    font-size: 9rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h2 {
    font-size: 7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.home-content p {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    border: 2px solid;
    margin-right: 2rem;
}

.mail {
    font-size: 1.6rem;
    font-style: italic;
    text-decoration: underline;
    color: white;
}